@import "./components/home.scss";
@import "./components/menuitem.scss";
@import "./components/display.scss";

html {
  background: rgba(0, 0, 0, 0.9);
}

body {
  background-image: url("./background.jpg");
}
.App {
  text-align: center;
}
